@import 'variables.scss';

.catalog-list {
  margin-bottom: $bodyMarginBottom;
  padding-left: $bodyPaddingLeft;
  padding-right: $bodyPaddingRight;
  font-family: $fontFamily;
  font-size: $fontSize;
  &__table {
    width: $tableWidth;
    border-collapse: collapse;
    &-head {
      &_row { border-bottom: 1px solid $tableBorderColor; }
      &_column { padding: 5px; }
    }
    &-body {
      &_row { border-bottom: 1px solid $tableBorderColor; }
      &_row-disabled {
        background-color: $disabledRowBackground;
        color: $disabledRowText;
      }
      &_column { padding: 5px; }
      .control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__button {
          width: $controlButtonWidth;
          height: $controlButtonHeight;
          border: 0px;
          background-color: rgba(0, 0, 0, 0);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          cursor: pointer;
          &_disabled-on { background-image: url('~@/assets/images/control/button_disabled-on.png'); }
          &_disabled-off { background-image: url('~@/assets/images/control/button_disabled-off.png'); }
          &_delete { 
            background-image: url('~@/assets/images/control/button_delete.png');
          }
        }
      }
    }
  }
}