
$bodyMarginBottom: 10px;
$bodyPaddingLeft: 20px;
$bodyPaddingRight: 20px;

$fontFamily: 'Open sans';
$fontSize: 13px;

$tableWidth: 100%;
$tableBorderColor: grey;

$disabledRowBackground: darkred;


$disabledRowText: white;

$controlButtonWidth: 24px;
$controlButtonHeight: 24px;