.vpn-list {
  margin-bottom: 20px;
  font-family: 'Open sans';
  font-size: 12px;
  .vpn-table {
    width: 100%;
    border-collapse: collapse;
    &__title {
      padding: 3px;
      border-bottom: 2px solid grey;
      text-align: left;
      font-family: 'Montserrat';
      font-size: 1.1em;
      font-weight: bold;
    }
    &__head {
      .install { background-color: lightblue; }
      .unistall { background-color: lightgreen; }      
      &-column {
        padding: 3px;
        border-bottom: 2px solid grey;
        &:first-child { width: 42px; }
        &_basis { width: 250px; }
        &_document { width: 70px; border-right: 2px solid darkgray; border-left: 1px solid darkgray; }
        &_action {
          width: 30px;
          background-image: url('~@/assets/images/view/action.png');
          background-size: 18px 18px;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    &__body {
      .install { background-color: rgba(173, 216, 230, .3); }
      .unistall { background-color: rgba(144, 238, 144, .3); }
      &-column {
        padding: 3px 3px;
        &_note {
          border-bottom: 1px solid grey;
          .note {
            display: flex;
            justify-content: space-between;
          }
        }
        &:last-child { text-align: center; border-bottom: 1px solid grey;}
        .button_delete {
          width: 24px;
          height: 24px;
          border: 0px;
          background-color: rgba(0, 0, 0, 0);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url('~@/assets/images/control/button_delete.png');
        }
      }
    }
  }
}